<configuration>
  <appender name="file" class="ch.qos.logback.core.FileAppender">
    <file>save/nvlist-langserver.log</file>
    <append>false</append>
    <encoder>
      <pattern>| %-5level | %msg | %file:%line | %thread%n</pattern>
    </encoder>
  </appender>

  <root level="debug">
    <appender-ref ref="file" />
  </root>
</configuration>
