
.cm-s-gedit span.cm-builtin {color: #008A8C;}
.cm-s-gedit span.cm-string {color: #FF00FF;}
.cm-s-gedit span.cm-keyword {color: #A52A2A; font-weight: bold;}
.cm-s-gedit span.cm-comment {color: #0000FF;}
.cm-s-gedit span.cm-stringifier {color: #A020F0;}
.cm-s-gedit span.cm-texttag {color: #008A8C;}
